/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require toastr
 *= require toastr
 */


@import url(http://fonts.googleapis.com/css?family=Satisfy);
.container {
 margin: 20px;
 margin-left: 8%;
 width: 200px;
 height: 200px;
 float: left;
 position: relative;
}
.strip {
  margin-top: 14%;
}
.logo {
  top: 0;
  height: 10px;
  width: 70px;
}
.logout {
  float: right;
  margin-right: 10%;
}
body {
  background: linear-gradient(#fff)
}
.input-form{
  margin-top: 30%;
  text-align: center;
}

input {
  width:20%;
  padding: 12px 0px;
  margin: 8px 0;
  border-radius: 10px;
  /* border: none; */
  /* background-color: #3CBC8D; */
  font-size: 18px;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;

}
.nav {
  /* background-color: #ffff; */
  margin: 0px;
  padding: 0;
  margin-top: 0;
  height: 60px;
}
.head {
  font-family:"Comic Sans MS", cursive, sans-serif;
  color: #000;
  text-align: center;
  position: relative;
  top: 0;
  margin-top: 0;
  font-size: 20px;
  text-shadow: 2px 2px 4px #000000;
}
.head .footnote{
  font-size: 20px;
  top: 0;
}
.quote-container {
  margin-top: 1px;
  position: relative;
  float: right;
}

.note {
  color: #333;
  position: relative;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  font-family: Satisfy;
  font-size: 30px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
}

.note .author {
  display: block;
  margin: 40px 0 0 0;
  text-align: right;
}
.yellow {
  background: #eae672;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}
.pin {
  background-color: #aaa;
  display: block;
  height: 32px;
  width: 2px;
  position: absolute;
  left: 50%;
  top: -16px;
  z-index: 1;
}
.pin:after {
  background-color: #A31;
  background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.3), hsla(0,0%,0%,.3));
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
              inset 3px 3px 3px hsla(0,0%,100%,.2),
              inset -3px -3px 3px hsla(0,0%,0%,.2),
              23px 20px 3px hsla(0,0%,0%,.15);
  content: '';
  height: 12px;
  left: -5px;
  position: absolute;
  top: -10px;
  width: 12px;
}
.pin:before {
  background-color: hsla(0,0%,0%,0.1);
  box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
  content: '';

  height: 24px;
  width: 2px;
  left: 0;
  position: absolute;
  top: 8px;

  transform: rotate(57.5deg);
  -moz-transform: rotate(57.5deg);
  -webkit-transform: rotate(57.5deg);
  -o-transform: rotate(57.5deg);
  -ms-transform: rotate(57.5deg);

  transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
}
ul {
  list-style: none;
}

ul li:before {
  content: '✓';
}
.footnote {
  margin-top: 0px;
  margin-left: 10%;
}
